*{
    font-family: montserrat;
    }
    body{
    background: #f1fbff;
    background-image:url();
    }
    .section-padding{
    padding: 100px 0;
    }
    .carousel-item{
    height: 100vh;
    min-height: 300px;
    }
    .carousel-caption{
    bottom: 270px;
    z-index: 2;
    }
    .carousel-caption h5{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    }
    .carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    }
    .carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.7);
    z-index: 1;
    }
    .navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 250;
    }
    .navbar-light .navbar-brand{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:2px;
    }
    .navbar-light .navbar-brand:focus{
    color: white;
    }
    .navbar-light .navbar-nav .navbar-link{
    color: white;
    }
    .w-100{
    height: 100vh;
    }
    .card-body{
    background:radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    }
    
    .services .card-body i{
    font-size:50px;
    }
    
    .service .card-body i{
    font-size: 25px;
    }
    @media only screen and (max-width:767px){
    .navbar-nav{
    text-align: center;
    }
    .carousel-caption{
    bottom: 125px;
    }
    .carousel-caption h5{
    font-size: 17px;
    }
    .carousel-caption a{
    padding: 10px 15px;
    }
    }
    .fluid{
    margin: 70px 10px 10px 35px;
    transform: translateX(-10px);
    transform: translateY(-50px);
    }
    .about-text{
    margin: 35px 5px 5px 55px;
    }
    .right{
    color: black;
    transform:translateX(27px);
    transform:translateY(-65px);
    }
    .txt5{
    width:315px;
    height:110px;
    padding-top:35px;
    padding-bottom:45px;
    padding-right:20px;
    padding-left:20px;
    margin-top:35px;
    border-radius:55px;
    background:radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    transform:translateX(25px);
    transform:translateY(-50px);
   
    }
   

    
    /*.b2{
    padding:20px;
    outline: none;
    border: none;
    border-radius: 55px;
    background-color: yellow;
    margin-bottom:40px;
    transform:translateY(-25px);
    }*/
.first{
transform: translateY(-65px);
}
.second{
transform: translateY(-75px);
}
.third{
    transform: translateY(-75px);
}

.ip{
transform:translateX(-10px);
transform:translateY(-20px);
font-size:30px;
font-weight:5em;
}
.footer{
margin-top: 150px;
width: 100%;
padding: 100px 15%;
background: #333;
color: #efefef;
display: flex;
}
.overall{
background: orange;
}
.square-box{
max-width:500px;
min-height:600px;
border:1px solid black;
margin-bottom:75px;
background:radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);



}
ul{

    color: black;
    line-height:1.6;
    list-style-image:url(checkbox.png);
    -webkit-text-fill-color: red;
    }

    body{
        background: white;
    }
    
    .list-group{
        width: 600px !important;
        transform:translateY(-35px);
    
    }
    
    .list-group-item{
        margin-top:10px;
        border-radius: none;
        background:radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%); 
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-bottom:35px;
        
    }
    
    
    .list-group-item:hover{
        transform: scaleX(1.1);
        font-size:15px;
    }
    
    
    
    .check{
        opacity: 0;
        transition: all 0.6s ease-in-out;
    }
    
    .list-group-item:hover .check {
        opacity: 1;
    
    }
    
    .about span{
        font-size: 20px;
        margin-right: 10px;
    
    }
    
    input[type=checkbox] {
             position: relative;
               cursor: pointer;
        }
        input[type=checkbox]:before {
             content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0px;
        left: 0;
        border: 1px solid #10a3f9;
        border-radius: 3px;
        background-color: white;
    
    }
        input[type=checkbox]:checked:after {
             content: "";
        display: block;
        width: 7px;
        height: 12px;
        border: solid #007bff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
       }
    
      input[type="checkbox"]:checked + .check { opacity: 1; }
      .equal-height-columns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
      }